





:root {
    --nav-bg-color:#daac00;
    --btn-bg-color:#00bec9;
    --btn-bg-color-hover:#0cadb6;
    --bg-color:#fcc302;
    --bg-post-color:rgba(252, 242, 216, 0.973);
    --transition: all 0.3s ease-in-out;
    
}




* {
    padding: 0;
    margin: 0;
}


/* =============================nav bar start======================================== */

nav.navbar {
    background: var(--nav-bg-color) !important;
}
button.navbar-toggler.d-lg-none {
    box-shadow: none !important;
    border: none !important;
    background: var(--btn-bg-color);
}

form input[type=text]::placeholder {
    color: white;
}

form input[type=text] {
    box-shadow: none !important;
    border: 0px !important;
    background: var(--bg-color) !important;
}

form button[type=submit] {
    background: var(--btn-bg-color);
    transition: all 0.3s ease-in-out;
}
form button[type=submit]:hover {
    background: var(--btn-bg-color-hover);


}



/* ==============================nav bar end=========================================== */



/* ======================hero content start ================================= */

.hero {
    background: var(--bg-color);
}

button {
    font-weight: 700 !important;
}

.but-group button:nth-child(1),.animals-content button {
    color: white;
    background: var(--btn-bg-color) !important;
    transition: var(--transition);
    border: 2px solid var(--btn-bg-color);
}

.animals-content button:hover,.but-group button:nth-child(1):hover {
    background: white !important;
    color: var(--btn-bg-color) !important;
    border: 2px solid var(--btn-bg-color) !important;
}

.but-group button:nth-child(2) {
    transition: var(--transition);
}

.but-group button:nth-child(2):hover {
    color: var(--btn-bg-color);
}


/* =========================hero content end================================================ */



/* ==========================love animals start========================================= */

.love-animals button {
    background: var(--btn-bg-color);
}





/* ==========================love animals end============================================ */
.animal-video{
    position: relative;
    /* aspect-ratio: 2/3; */
    transition: all 0.3s ease-in-out;
}
.animal-video::after {
    content: "";
    position: absolute;
    /* height: 25%;
    width: 50%; */
    top: 2%;
    left: 4%;
    bottom: 20%;
    background: var(--bg-color);
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.animal-video:hover::after {
    content: "";
    position: absolute;
    /* height: 32%;
    width: 95%; */
    top: 5%;
    left: 5%;
    bottom: 20%;
    background: var(--bg-color);
    z-index: -1;
}




/* ================================health care start here=================================== */

.health-care,.pet-buy-menu {
    background: var(--bg-color);
}






/* ================================health care end here====================================== */

/* ==========pet buy menu============ */

.pet-buy-menu button {
    background:#00bec9;
    border-radius: 50px;
    border-width: 2px;
    border-color: #00bec9;

}

.pet-buy-menu button:hover {
    background:white !important;
    border-radius: 50px;
    color: #00bec9 !important;
    border-color: #00bec9 !important;
    


}




/* ===========pet buy menu============= */




/* =============social icon=============== */

.social-icon a {
 padding: 6px;
 background: var(--bg-color);
 border-radius: 5px;
 color:white;
 transition: var(--transition);
 /* border: 1px solid var(--bg-color); */
}

.social-icon a:hover {
    color: var(--bg-color);
    background: white;
}



/* ==============social icon============== */


/* ===============information================== */

.information {
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    position: relative;
    top: 0;
    z-index: -1;
}

.information::before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position:absolute;
    background: var(--bg-color);
    z-index: 1;
    opacity: 0.4;
}


.information .item {
    z-index: 2;
    transform: translateY(20%);
}


/* ===============information================== */

/* ================info icon=============== */

.information .icon i {
    font-size: 100px;
}

/* ================info icon=============== */

.recent-post .post-items .post-content :is(small,h5) {
    color: #00bec9 !important;
}

.recent-post .post-items .post-content{
    background: var(--bg-post-color);
}

/*=================recent post======================= */






/* =================recent post======================= */
